/*NaVBAR CSS*/
#searchInput{
border: 1px solid #b1b0b0;
background-color: white;
height: 50px;
width: 250px;
color: #3f3e3e;
font-weight: 300;
z-index: 10;
position: relative;
outline: none;
}
#sabLink{
  color: black;
  font-weight: 300;
  cursor: pointer;
  font-size: 15px;
}
#collapseBtn{
  color:#864c31;
}
.floorGroup {
  background-color: rgba(237 237 237 0.35);
}
/* #mainContent::before{
content: "GLOBAL FLOOR GROUP";
position: absolute;
background-color: rgba(237 237 237);
height: auto;;
width: auto;
text-align: center;
font-size: 140px;
margin-top: 70px;
color: #b1b0b0;

} */