/*home section*/
.homeSection{
background-color: #EBEBEB;
height: auto;
}
.tempText{
margin-top: 300px;

}
.sliderText{
font-size: 16px;
font-family: 'Poppins',sans-serif;
/* margin-top: 205px; */
color: black;
font-weight: 600;
cursor: pointer;
}
.sliderText11{
cursor: pointer;
font-size: 16px;
font-family: 'Poppins',sans-serif;
color: black;
font-weight: 600;
}

.cardImg{
padding: 20px 25px;
height: 80%;
width: 188px;
background: #ccc;;
border: 1px solid #ccc;;
transition: 0.5s;
text-align: center;
}
.cardImg11{
padding: 9px 25px;
height: 80%;
width: 188px;
background: #ccc;;
border: 1px solid #ccc;;
transition: 0.5s;
text-align: center;   
}
.cardImg:hover{
border-color: #ccc;
cursor: pointer;
background: #fff;
transition: 0.5s;
}
.cardTitle{
font-size: 19px;
font-weight: 600;
text-align: center;
color: black;
font-family: 'Poppins',sans-serif
}
.cardTitle:hover{
    color:#864c31
}
.popularText{
font-size: 2.0588235294118rem;
font-weight: 800;
font-family: 'Poppins',sans-serif;
line-height: 1.2;
text-transform: capitalize;
}
.popularPara{
/* font-family: 'Poppins',sans-serif; */
line-height: 1.8;
font-size: 17px;
font-weight: 300;
color: #000000;
}

/*home about section css*/
.homeAboutText{
font-size: 45px;
font-weight: 700;
font-family: 'Poppins',sans-serif;
line-height: 1.2;
color: #000000;
}
.homeAboutPara{
/* font-family: 'Poppins',sans-serif; */
line-height: 1.8;
font-size: 16px;
font-weight: 300;
color: #000000;
}
.borderBtn{
border-left: 5px solid #864C31;
padding: 15px 20px 20px;
left: 10px;
}
.borderPara{
/* font-family: 'Poppins',sans-serif; */
line-height: 1.8;
text-align: left;
font-size: 19px;
font-weight: 300;
color: #000000; 
}
.floorCard{
background-color: white;
padding: 20px 15px;
}
.floorIcon{
color: #864c31;
font-size: 55px;
}
.floorText{
/* font-family: 'Poppins',sans-serif; */
text-align: center;
font-weight: 300;
font-size: 22px;
padding: 10px;
color: #000000; 
line-height: 32px;
}
/*home floor section css*/
.HomeFloorText{
font-family: 'Poppins',sans-serif;
font-size: 2.9411764705882rem;
font-weight: 900;
line-height: 1.2;
color: #000000; 
}
.homeFloorPara{
/* font-family: 'Poppins',sans-serif; */
font-size: 17px;
font-weight: 300;
line-height: 1.8;
display: flex;
text-align: left;

}
.spanText{
color: #000000; 
font-size: 70px;
padding: 10px 10px;
font-weight: 700;
margin-left: 20px;
}

/*home product css*/
.browserH2{
font-size: 2.9411764705882rem;
font-weight: 700;
font-family: 'Roboto',sans-serif;
line-height: 1.2;
text-transform: capitalize
 
}
.arrowBtn{
float: right;
background-color: #864c31;
color: white;
cursor: pointer;
margin: 5px;
border: #864c31;
font-size: 20px;
}
.arrowBtn:hover{
background-color: #000000;
}
.pressText{
color: #000000;
font-size: 23px;
font-weight: 700;
font-family: 'Poppins',sans-serif;
line-height: 1.2;
}
.pressBtn{
color: #000000;
background-color: transparent;
border: 1px solid #222222;
height: 45px;
width: 155px;
}
.pressBtn:hover{
background-color: #000000;
color: white;
}
.imgSlider{
width: 252px;
height: 200px;
cursor: pointer;
}
.slidePressBtn{
    padding-bottom: 90px;
}
.cardIMG{
background-color: white;
border: 1px solid black;
width: auto;
}
/*home service section css*/
.homeServText{
font-size: 2.9411764705882rem;
font-weight: 800;
font-family: 'Poppins',sans-serif;
line-height: 1.2;
text-transform: capitalize;
color: #000000;
}
.homeServPara{
font-family: 'Roboto',sans-serif;
font-weight: 300;
font-size: 18px;
line-height: 1.8;
color: #434446;
}
.serviceImg{
width: 100%;
height: 520px;
cursor: pointer;
}
.serviceImg1{
width: 100%;
height: 247px;
cursor: pointer;
}
.viewServBtn{
color: #1f1d1d;
background-color: transparent;
border: 1px solid #222222;
height: 50px;
width: 185px;
font-size: 15px;
}
.viewServBtn:hover{
background-color: #000000;
color: white;
}
.overlayServ{
position: absolute; 
top: 4%; 
background: #ffffffd9;
background: #ffffffd9; 
width: 100%;
transition: .5s;
color: black;
padding: 15px;
display: block;
text-align: center;
opacity: 1;
font-size: 1.3529411764706rem;
line-height: 1.4;
font-weight: 700;
font-family: 'Poppins',sans-serif;
cursor: pointer;
}

.servContainer{
    position: relative;
}
.overlayServ1{
position: absolute; 
bottom: 4%; 
background: #ffffffd9;
background: #ffffffd9; 
width: 100%;
transition: .5s;
color: black;
padding: 15px;
display: block;
text-align: center;
opacity: 1;
font-size: 1.3529411764706rem;
line-height: 1.4;
font-weight: 700;
font-family: 'Poppins',sans-serif;
cursor: pointer; 
}
.overlayServ2{
position: absolute; 
bottom: 4%; 
background: #ffffffd9;
background: #ffffffd9; 
width: 100%;
transition: .5s;
color: black;
padding: 15px;
display: block;
text-align: center;
opacity: 1;
font-size: 1.3529411764706rem;
line-height: 1.4;
font-weight: 700;
font-family: 'Poppins',sans-serif;
cursor: pointer;
}
/* .servContainer:hover .overlayServ{
    opacity: 1;
  } */